                    .s13 {
                        border-bottom: 2px solid rgba(73, 53, 8, 1);
                        height: 0 !important;
                        min-height: 0 !important;
                    }