          .font_0 {
            font: normal normal normal 29px/1.1em signika, sans-serif;
            color: #493508;
          }
          
          .font_1 {
            font: normal normal normal 14px/1.1em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
            color: #493508;
          }
          
          .font_2 {
            font: normal normal normal 25px/1.1em signika, sans-serif;
            color: #493508;
          }
          
          .font_3 {
            font: normal normal normal 70px/1.1em signika, sans-serif;
            color: #493508;
          }
          
          .font_4 {
            font: normal normal normal 40px/1.3em Jura, sans-serif;
            color: #493508;
          }
          
          .font_5 {
            font: normal normal normal 25px/1.2em Jura, sans-serif;
            color: #493508;
          }
          
          .font_6 {
            font: normal normal bold 18px/1.3em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
            color: #880505;
          }
          
          .font_7 {
            font: normal normal normal 16px/1.3em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
            color: #493508;
          }
          
          .font_8 {
            font: normal normal normal 14px/1.3em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
            color: #493508;
          }
          
          .font_9 {
            font: normal normal normal 12px/1.3em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
            color: #493508;
          }
          
          .font_10 {
            font: normal normal bold 10px/1.3em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
            color: #493508;
          }
