          .s6 {
            height: 100px;
            width: 100px;
          }
          
          .s6overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.664);
          }
          
          .s6inlineContent {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
