          .color_0 {
            color: #FFFFFF;
          }
          
          .backcolor_0 {
            background-color: #FFFFFF;
          }
          
          .color_1 {
            color: #FDFDFE;
          }
          
          .backcolor_1 {
            background-color: #FDFDFE;
          }
          
          .color_2 {
            color: #000000;
          }
          
          .backcolor_2 {
            background-color: #000000;
          }
          
          .color_3 {
            color: #FFCB05;
          }
          
          .backcolor_3 {
            background-color: #FFCB05;
          }
          
          .color_4 {
            color: #ED1C24;
          }
          
          .backcolor_4 {
            background-color: #ED1C24;
          }
          
          .color_5 {
            color: #0088CB;
          }
          
          .backcolor_5 {
            background-color: #0088CB;
          }
          
          .color_6 {
            color: #000000;
          }
          
          .backcolor_6 {
            background-color: #000000;
          }
          
          .color_7 {
            color: #000000;
          }
          
          .backcolor_7 {
            background-color: #000000;
          }
          
          .color_8 {
            color: #FFFFFF;
          }
          
          .backcolor_8 {
            background-color: #FFFFFF;
          }
          
          .color_9 {
            color: #000000;
          }
          
          .backcolor_9 {
            background-color: #000000;
          }
          
          .color_10 {
            color: #FFFFFF;
          }
          
          .backcolor_10 {
            background-color: #FFFFFF;
          }
          
          .color_11 {
            color: #F3E0B3;
          }
          
          .backcolor_11 {
            background-color: #F3E0B3;
          }
          
          .color_12 {
            color: #EAD38D;
          }
          
          .backcolor_12 {
            background-color: #EAD38D;
          }
          
          .color_13 {
            color: #DDA92E;
          }
          
          .backcolor_13 {
            background-color: #DDA92E;
          }
          
          .color_14 {
            color: #93701F;
          }
          
          .backcolor_14 {
            background-color: #93701F;
          }
          
          .color_15 {
            color: #493508;
          }
          
          .backcolor_15 {
            background-color: #493508;
          }
          
          .color_16 {
            color: #EDA1A1;
          }
          
          .backcolor_16 {
            background-color: #EDA1A1;
          }
          
          .color_17 {
            color: #DD7272;
          }
          
          .backcolor_17 {
            background-color: #DD7272;
          }
          
          .color_18 {
            color: #CC0808;
          }
          
          .backcolor_18 {
            background-color: #CC0808;
          }
          
          .color_19 {
            color: #880505;
          }
          
          .backcolor_19 {
            background-color: #880505;
          }
          
          .color_20 {
            color: #440202;
          }
          
          .backcolor_20 {
            background-color: #440202;
          }
          
          .color_21 {
            color: #FFFFFF;
          }
          
          .backcolor_21 {
            background-color: #FFFFFF;
          }
          
          .color_22 {
            color: #8D929A;
          }
          
          .backcolor_22 {
            background-color: #8D929A;
          }
          
          .color_23 {
            color: #5A5F67;
          }
          
          .backcolor_23 {
            background-color: #5A5F67;
          }
          
          .color_24 {
            color: #424A56;
          }
          
          .backcolor_24 {
            background-color: #424A56;
          }
          
          .color_25 {
            color: #282D35;
          }
          
          .backcolor_25 {
            background-color: #282D35;
          }
          
          .color_26 {
            color: #F9C3AC;
          }
          
          .backcolor_26 {
            background-color: #F9C3AC;
          }
          
          .color_27 {
            color: #F4A582;
          }
          
          .backcolor_27 {
            background-color: #F4A582;
          }
          
          .color_28 {
            color: #EF5310;
          }
          
          .backcolor_28 {
            background-color: #EF5310;
          }
          
          .color_29 {
            color: #9F370B;
          }
          
          .backcolor_29 {
            background-color: #9F370B;
          }
          
          .color_30 {
            color: #4F1B05;
          }
          
          .backcolor_30 {
            background-color: #4F1B05;
          }
          
          .color_31 {
            color: #DADAA6;
          }
          
          .backcolor_31 {
            background-color: #DADAA6;
          }
          
          .color_32 {
            color: #B5B57B;
          }
          
          .backcolor_32 {
            background-color: #B5B57B;
          }
          
          .color_33 {
            color: #90904B;
          }
          
          .backcolor_33 {
            background-color: #90904B;
          }
          
          .color_34 {
            color: #6B6B05;
          }
          
          .backcolor_34 {
            background-color: #6B6B05;
          }
          
          .color_35 {
            color: #353502;
          }
          
          .backcolor_35 {
            background-color: #353502;
          }
