                    .s15wrapper {
                        min-width: 180px;
                        max-width: 980px;
                        max-height: 1024px;
                        position: absolute;
                        width: 100%;
                    }
                    
                    .s15 span {
                        color: #440202;
                        float: left;
                        font: normal 14px 'Helvetica Neue', Helvetica, sans-serif;
                        max-width: 60%;
                    }
                    
                    .s15 span.s15_success {
                        color: #BADA55;
                    }
                    
                    .s15 span.s15_error {
                        color: #8B0000;
                    }
                    
                    .s15 button,
                    .s15 input,
                    .s15 textarea {
                        border-radius: 0;
                        padding: 5px;
                    }
                    
                    .s15 input,
                    .s15 textarea {
                        font: normal normal normal 14px/1.3em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
                        background-color: rgba(255, 255, 255, 0.43);
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        border: 0px solid rgba(243, 224, 179, 1);
                        color: #440202;
                        margin: 0 0 5px;
                        width: 100%;
                    }
                    
                    .s15 input.s15_error,
                    .s15 textarea.s15_error {
                        font: normal normal normal 14px/1.3em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
                        border: 1px solid #8B0000;
                        color: #8B0000;
                    }
                    
                    .s15 input::-webkit-input-placeholder,
                    .s15 textarea::-webkit-input-placeholder {
                        color: #440202;
                    }
                    
                    .s15 input::-moz-placeholder,
                    .s15 textarea::-moz-placeholder {
                        color: #440202;
                    }
                    
                    .s15 input:-ms-input-placeholder,
                    .s15 textarea:-ms-input-placeholder {
                        color: #440202;
                    }
                    
                    .s15 input::placeholder,
                    .s15 textarea::placeholder {
                        color: #440202;
                    }
                    
                    .s15 button {
                        background-color: rgba(107, 107, 5, 1);
                        font: normal normal normal 16px/1.3em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
                        border: 0;
                        color: #440202;
                        cursor: pointer;
                        float: right;
                        margin: 0;
                        max-width: 35%;
                    }
                    
                    .s15 textarea {
                        min-height: 130px;
                        resize: none;
                    }
                    
                    .s15[data-state~="mobile"] input {
                        color: #440202;
                        font-size: 16px;
                        height: 45px;
                        line-height: 45px;
                        margin: 0 0 15px;
                        padding: 0 5px;
                    }
                    
                    .s15[data-state~="mobile"] input::-webkit-input-placeholder {
                        color: #440202;
                        font-size: 16px;
                    }
                    
                    .s15[data-state~="mobile"] input::-moz-placeholder {
                        color: #440202;
                        font-size: 16px;
                    }
                    
                    .s15[data-state~="mobile"] input:-ms-input-placeholder {
                        color: #440202;
                        font-size: 16px;
                    }
                    
                    .s15[data-state~="mobile"] input::placeholder {
                        color: #440202;
                        font-size: 16px;
                    }
                    
                    .s15[data-state~="mobile"] textarea {
                        color: #440202;
                        font-size: 16px;
                        height: 150px;
                        margin: 0 0 10px;
                    }
                    
                    .s15[data-state~="mobile"]::-webkit-input-placeholder {
                        color: #440202;
                        font-size: 16px;
                    }
                    
                    .s15[data-state~="mobile"]::-moz-placeholder {
                        color: #440202;
                        font-size: 16px;
                    }
                    
                    .s15[data-state~="mobile"]:-ms-input-placeholder {
                        color: #440202;
                        font-size: 16px;
                    }
                    
                    .s15[data-state~="mobile"]::placeholder {
                        color: #440202;
                        font-size: 16px;
                    }
                    
                    .s15[data-state~="right"] {
                        direction: rtl;
                        text-align: right;
                    }
                    
                    .s15[data-state~="right"] span {
                        float: right;
                    }
                    
                    .s15[data-state~="right"] button {
                        float: left;
                    }
                    
                    .s15[data-state~="left"] {
                        direction: ltr;
                        text-align: left;
                    }
                    
                    .s15[data-state~="left"] span {
                        float: left;
                    }
                    
                    .s15[data-state~="left"] button {
                        float: right;
                    }
                    
                    .s15[data-state~="nameHidden"] .s15nameField,
                    .s15[data-state~="emailHidden"] .s15emailField,
                    .s15[data-state~="subjectHidden"] .s15subjectField,
                    .s15[data-state~="phoneHidden"] .s15phoneField,
                    .s15[data-state~="addressHidden"] .s15addressField,
                    .s15[data-state~="messageHidden"] .s15messageField {
                        display: none !important;
                    }